<style>
body {
  background-color: #efefef;
}

html {
    background-color: #ff6666;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#theHeader {
 text-align:center;
left:50%;
}

#articles {
width: 40%;
height: 600px;
display:inline-block;
overflow: auto;
}

#notes {
width: 25%;
float: right;
}

#wrapper{
      width:950px;
      margin: 0 auto;
      padding-top: 5%;
    }

textarea, input{
      display:block;
      width:100%;
      background-color: #gray;
    }
    input{
      height:36px;
      font-size: 24px;
    }
    textarea{
      height:190px;
      font-size: 18px;
    }
</style>
